@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alert Demo</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SMS Service</h2>
        <p>
            Send a SMS message to a specified recipient via Twilio.
        </p>
        <p>@Html.ActionLink("Alert Service", "SMS", "Alert", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>Email Service</h2>
        <p>Send an email to a specified address via SendGrid</p>
        <p>@Html.ActionLink("Alert Service", "Email", "Alert", null, new { @class = "btn btn-default" })</p>
    </div>
</div>